body {
    background: rgba(0, 0, 0, 0.05);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.gridster-item {
    background: white;
}
