<div ng-controller="dashboardController">
    <div gridster>
        <ul>
            <li gridster-item="item" ng-repeat="item in items">
                <text-widget></text-widget>
                <!--\{{item.name}}-->
            </li>
        </ul>
    </div>
</div>
