<div ng-controller="dashboardController">
    <div gridster>
        <ul>
            <li gridster-item="item" ng-repeat="item in items">
                <text-widget></text-widget>
                <h3>Static</h3>
                <uib-progressbar value="55"></uib-progressbar>

                <!--\{{item.name}}-->

            </li>
        </ul>
    </div>
</div>
