<div ng-controller="dashboardController">
    <div gridster>
        <ul>
            <li gridster-item="item" ng-repeat="item in items">
              {{item.name}}
            </li>
        </ul>
    </div>
</div>
