<div ng-controller="dashboardController">
    <div gridster>
        <ul>
            <li gridster-item="item" ng-repeat="item in defaultItems">
                <widget></widget>
            </li>
        </ul>
    </div>
</div>
